{% extends 'base.html.twig' %}

{% block title %}Fiche catégorie{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mb-3 align-items-center">
            <div class="col col-md-3 text-center">
                <img src="{{ asset('images/' ~ (category.imageUrl))}}" class="img-fluid rounded-circle block my-2 mx-auto" style="width: 200px; height: 200px" alt="{{ category.name }}">
                <h4 class="fw-bold my-2">{{ category.name }}</h4>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="fw-bold text-center
                        text-{% include('category/_categorycolor.html.twig') %}
                        ">{{ category.name }}</h4>
                        <p class="card-text" style="height: 5rem">{{ category.description }}.</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="{{ path('showcategory', {'id':category.id}) }}"
           class="btn btn-sm btn-outline-{% include('category/_categorycolor.html.twig') %}
                            ">retour en arrière
        </a>
        <h5 class="my-2 fw-bold">Divers</h5>
        <div class="row">
            {% for contact in category.contacts %}
                {% include('contact/_contacts.html.twig') %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
